body .searchinput {
  width: 400px;
  max-width: 100%;
  min-height: 40px;
  margin-bottom: 2rem
}

.category_items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.item {
  --img-bg: #e8e5f0;
  --width: calc(33% - 0.93rem);
  flex: 0 0 var(--width, 32%);
  max-width: var(--width, 32%);
  display: flex;
  flex-direction: column;
  min-height: 180px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--ifm-toc-border-color);
  cursor: pointer;
  transition: box-shadow 200ms ease, transform 200ms ease;
}

.item:hover {
  transform: translate(0px, -1px);
  box-shadow: rgba(213, 194, 255, 0.4) 0px 2px;
}

.item a {
  color: inherit;
}

a:hover,
.item:hover a {
  text-decoration: none;
}

.imgartv {
  flex: 1 0 90%;
  min-height: 90%;
  background: var(--img-bg, #fff);
}

.title {
  margin: 0;
  padding: 0.66rem 0.9rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 120%;
  text-transform: capitalize;
}

.category_title {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.category_group {
  padding: 1rem 0;
}